& {
  background-color: rgb(var(--color-fg));
  color: rgb(var(--color-bg));
  display: flex;
  flex-direction: column;
}

.menu {
  display: flex;
  flex-direction: column;
}

.divider {
  border-bottom: 1px solid rgba(var(--color-bg), 0.5);
  margin: 2px;
}

.auth-info {
  display: flex;
  flex-direction: column;
}

a {
  display: inline-block;
  padding: 5px 7px;
  text-decoration: none;
  outline: none;
}

a:hover {
  background-color: rgba(var(--color-bg), 0.2);
}
